body {
  font-family: "Franklin Gothic Medium", sans-serif;
}
.container {
  width: 100%;
  background-color: #eee;
  padding: 80px 30px;
}

/* questionNumber */
.questionNumber {
  font-size: 16px;
}

.background1 {
  background-color: lightblue;
}

.background2 {
  background-color: rgb(243, 160, 101);
}

.background3 {
  background-color: lightyellow;
}

.background4 {
  background-color: lightpink;
}

.mt-3 {
  color: #052c65;
  border: 1px solid #111;
  font-weight: bold;
}
.btn {
  color: #052c65;
  border: 1px solid #111;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.7;
}

/* img */
.img-container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.china,
.syouyu,
.pig,
.tsukemen {
  width: 30%;
  height: auto;
  transform: rotate(10deg);
}

.ishiki,
.yatai,
.tonkotsu,s
.ramen-woman {
  width: 30%;
  height: auto;
  transform: rotate(-10deg);
}

@media only screen and (max-width: 600px) {
  /* ボタンのサイズを調整 */
  .btn {
    font-size: 12px;
    padding: 5px 10px;
  }
}
