body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.background1 {
  background-color: lightblue;
}

.background2 {
  background-color: lightgreen;
}

.background3 {
  background-color: lightyellow;
}

.background4 {
  background-color: lightpink;
}

.mt-3 {
  color: #052c65;
}
.btn {
  color: #052c65;
  border: none;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.7;
}
